
.colortext-activo {
    color: #fff;
    background-color: #00b636;
    padding: 0.25rem 0.7rem;
    border-radius: 0.25rem;
}

.colortext-inactivo {
    color: #fff;
    background-color: #a30000;
    padding: 0.25rem 0.4rem;
    border-radius: 0.25rem;
}

